 <app-home></app-home>
<!--<app-coursedetails></app-coursedetails>
<app-contactus></app-contactus> -->



<!-- <h1>Contoso University</h1><br>
<a [routerLink]="['/home']">Home</a>
<br>
<a [routerLink]="['/courses']">Courses</a>
<br>
<a [routerLink]="['/contact']">Contact</a> -->

<!-- <button (click)="GetHome()">Home </button>
<button (click)="GetCourse()">Courses </button>
<button (click)=" GetContact()">Contact</button>
-->
<div>
  <router-outlet></router-outlet>
</div> 
<!--  
<app-parent></app-parent> --> -->

<!-- <app-child></app-child> -->