@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    <h1>Cached Time : @ViewBag.time</h1>
</div>
<div>
    <h1> Current time : @DateTime.Now.ToString()</h1>
</div>
