@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<h1 style="color:greenyellow">Home Page</h1>

<div class="text-center">

    Big Basket is one of the largest online grocery super market in India. It was founded in 2011
    by Hari Menon, VS Sudhakar, V S Ramesh, Vipul Parekh and Abhinay choudari. It has its
    headquarters in Bengaluru. It operates in more than 30 cities in India. Big basket offers variety
    of products ranging from fresh fruits, vegetables, Food grains, oil, masala, packaged snacks,
    beverages, household supplies, healthcare products. It has more than 20000 products and
    1000 brands in its catalogue.

</div>

@section Note
{
    Get a discount of upto 40% and more on your next purchase
}

@section Footer
{
    This is a accredited by WHO
}


