<div class="container">
    <legend>Create Grocery Items</legend>
    <form>
        <div class="mb-3">
          <label for="txtName" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="txtName" name="name" [(ngModel)]="groceryForm.name"/>
          
        </div>
        <div class="mb-3">
            <label for="txtQuantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" id="txtQuantity" name="quantity" [(ngModel)]="groceryForm.quantity"/>
            
          </div>
          <div class="mb-3">
            <label for="txtPrice" class="form-label">Price</label>
            <input type="text" class="form-control" id="txtPrice" name="price" [(ngModel)]="groceryForm.price"/>
            
          </div>

          <button type="button" (click)="create()" class="btn btn-primary">Create Product</button>
    </form>
</div>

